@import '../../../styles.scss';

:host {
    height: 100%;
    width: 100%;
}
.chart-area {
    // height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1000px));
    flex-grow: 1;
    justify-content: center;
.chart-container {
    // padding: $commonMarginPadding; 
    // border-style: solid;
    //   border-width: 1px;
    //   border-color: $clr3;
    //   display: grid;
    //   align-items: center;
    //     justify-items: center;
    // width:400px;
    // height:200px;
    >*{
        margin: 0;
    }
  }


.item-chart {
    max-width: 400px;
    margin: 35px auto;
  }

}