@import '../../../styles.scss';
.move-list {
    background-color: $clr4;
    padding: 15px;
    border-radius: $brdrRadius;
    font-family: 'Outfit', sans-serif;
    ul{
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 380px;
        overflow-y: auto;
        list-style: none;
    }
    h2{
        text-align: center;
        color:$clr0;
    }
    .move-preview{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $clr0;
        color: $clr4;
        padding: 10px;
        border-radius: $brdrRadius;
      
        .title {
          font-weight: bold;
        }
      }
      
  }
  