@import '../../styles.scss';

.app-container {
    background-color: $clr0;
    grid-template-rows: 5rem 1fr 5rem;

    .app-header{
        grid-template-rows: 1fr;
        background-color: $clr5;
        color: $clr0;
            align-content: center;
            .header-central {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user-data {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    p {
                        margin: 0;
                    }
                }

                .logout-btn {
                    @include unified-button-style;
                    align-self: center;
                    border-color: $clr0;
                    background-color: $clr5;
                    color: $clr0;
                    &:hover {
                        background-color: $clr4;
                    }
                }
                nav {
                    box-sizing: border-box;
                    height: 100%;
                    display: flex;
                    gap:1rem;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;
                }
            }
        }
         
        .link {
            display: grid;
            align-items: center;
            justify-content: center;
            color: $clr0;
            text-decoration: none;
            &:hover{
                color: $clr3;
            }
    
            &.active {
                color: $clr4;
            }
            box-sizing: border-box;
            height: 100%;
        }

        .main-content {
            background-color: $clr0;
            position: relative;
          }

        .app-footer{
            background-color: $clr5;
            color: $clr0;
            display: grid;
            justify-content: center;
            align-content: center;
        
        }
    
}